<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%# retrieve cow by cow_id %>
<% if params[:action] == "new" %>
    <div class="field">
      Task Name:
      <%= f.select :taskName, ['Wean', 'Weigh', 'Check In-Heat', 'Order Straws', 'Pull Blood', 'Transfer', 'Vaccinate', 'Vet Visit', ' Well Check', 'No Action Required', 'Whole Herd Booster']%>
    </div>
    <div class="field">
    <% @cattle_stats = CattleStat.all %>
    <% @tagNumbers ||= [] %>
    <% @cattle_stats.each do |cattle_stat| %>
       <% @tagNumbers.push(cattle_stat.tagNumber) %>
    <% end %>
      <% @tagNumbers.sort! %>
      Cow Tag Number:
     
      <%= f.select :taskTagNumber, @tagNumbers %>
    </div>
    <div class="field">
      Task Date: 
      <%= f.datetime_select :start_time %>
      <%= hidden_field_tag 'task[complete]', '0'  %>
    </div>
    <div class="field">
      Task Date: 
      <%= f.datetime_select :end_time %>
    </div>
    
    <div class="actions">
      <%= f.submit %>
    </div>

<%# edit task form %>

<% elsif params[:action] == "edit" %>
    <% @cs = CattleStat.find_by tagNumber: @task.taskTagNumber %>
    <h1> <%= @task.taskName %> for:  <%= @cs.tagNumber %> *name*</h1>
  
  <div class="field">
  Status: 
    <% if @task.taskName == 'Wean' %>
      <%= f.select :status, ['Ready To Wean', 'Weaned'] %>

    <% elsif @task.taskName == 'Weigh' %>
      <%= f.select :status, ['Birth Weight', '~205 Day Weight', '~365 Day Weight', 'Sold Weight', 'Transfer Weight', ' Other'] %>
      <%= f.text_field :comment %>

    <% elsif @task.taskName == 'Well Check' %>
      <%= f.select :status, ['Birthing Watch', 'Injured', 'Sick'] %>

    <% elsif @task.taskName == 'Vet Visit' %>
      <%= f.select :status, ['Injured', 'Sick'] %>

    <% elsif @task.taskName == 'Vaccinate' %>
      <%= f.select :status, ['Birth Vaccination', '3 Month Vaccination', ' Heifer Vaccination', 'Vacicnation-Sick', 'Whole Herd Booster'] %>

    <% elsif @task.taskName == 'Transfer' %>
      <%= f.select :status, ['Ready To Transfer'] %>

    <% elsif @task.taskName == 'Pull Blood' %>
      <%= f.select :status, ['Pregnancy Check', 'Pregnant'] %>

    <% elsif @task.taskName == 'Order Straws' %>
      <%= f.select :status, ['Order Straws'] %>
      Number Ordered: <%= f.text_field :comment %>

    <% elsif @task.taskName == 'Check In-Heat' %>
      <%= f.select :status, ['Ready To Breed', 'Not Ready To Breed'] %>
    
    <% elsif @task.taskName == 'Breed' %>
      <%= f.select :status, ['Ready for Insemination', 'Inseminated'] %>

      Bull Tag Number: <%= f.text_field :comment %>


    <% elsif @task.taskName == 'No Action Required' %>
      <%= f.select :status, ['1st Trimester', '2nd Trimester', '3rd Trimester', ' All Is Well', 'Deceased', 'Sold' , 'Too Young To Breed', 'Transfered'] %>

    <% end %>
  </div>  
  <div class="field">
    Task is complete: <%= f.check_box :complete %>
  </div>
  <div class="field">
    <%= f.label :dateComplete %><br>
    <%= f.datetime_select :dateComplete %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<%# end %>
<% end %>
<% end %>
