<p id="notice"><%= notice %></p>

<%= month_calendar events: @tasks do |date, tasks| %>
  <%= date %>
  <ul>
  <% tasks.each do |task| %>
  <% @cs = CattleStat.find_by tagNumber: task.taskTagNumber %>

    <div>
      <% if task.complete != 1  and current_user.location == @cs.location%> 

        <% if task.taskName == 'Wean' %>
          <font color="red">
          <% link_class = 'one' %>

        <% elsif task.taskName == 'Weigh' %>
          <font color="blue">
          <% link_class = 'two' %>

        <% elsif task.taskName == 'Check In-Heat' %>
          <font color="black">
          <% link_class = 'three' %>

        <% elsif task.taskName == 'Well Check' %>
          <font color="yellow">
          <% link_class = 'four' %>

            
        <% elsif task.taskName == 'Vet Visit' %>
          <font color="gray">
          <% link_class = 'five' %>

        
        <% elsif task.taskName == 'Vaccinate' %>
          <font color="maroon">
          <% link_class = 'six' %>

        
        <% elsif task.taskName == 'Transfer' %>
          <font color="turquoise">
          <% link_class = 'seven' %>

        
        <% elsif task.taskName == 'Pull Blood' %>
          <font color="skyblue">
          <% link_class = 'eight' %>

        
        <% elsif task.taskName == 'No Action Required' %>
          <font color="goldenrod">
          <% link_class = 'nine' %>

        
        <% elsif task.taskName == 'Whole Herd Booster' %>
          <font color="darkblue ">
          <% link_class = 'ten' %>


        <% elsif task.taskName == 'Order Straws' %>
          <font color="red">
          <% link_class = 'eleven' %>

        <% end %>
        <li>
        <%= link_to task.taskName, edit_task_path(task), :class => link_class %>
        <%= link_to task.taskTagNumber, edit_task_path(task), :class => link_class %>
        </li>
        </font>
        
      <% end %>
    </div>

  <% end %>
  </ul>

<% end %>
