<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.taskName %>
</p>

<p>
  <strong>Start time:</strong>
  <%= Time.at(@task.tasksUnixDateTime).strftime("%B %e, %Y at %I:%M %p") %>
</p>
<strong>End time:</strong>
  <%= @task.end_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @task.complete %>
</p>

<p>
  <strong>Date complete:</strong>
  <%= @task.dateComplete %>
</p>
<p>
  <strong>Unix Date Time:</strong>
  <%= @task.tasksUnixDateTime %>
</p>
<p>
  <strong>Tag Number:</strong>
  <%= @task.taskTagNumber %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
