<%= params.inspect %>

<% if @cows == nil %>
	 No cows Found 
<% else %>
	<table border = 1>
	  <thead>
	    <tr>
	      <th>Cow Tag Number</th>
	      <th>Activity</th>
	      <th>Status</th>
	      <th>User</th>
	      <th>Date</th>
		 </tr>
	  </thead>
	  <tbody>
	  <% @cows.each do |cow| %>
	  <tr>
	  	<td>
	  		<%= cow.tagNum %>

  		</td>	
	  	<td>
	  		<%= cow.task %>
  		</td>	
	  	<td>
	  		<%= cow.status %>
  		</td>	
	  	<td>
	  		<%= cow.user %>

  		</td>	
	  	<td>
	  		<%= Time.at(cow.activityDate).strftime("%B %e, %Y") %>
  		</td>	
	  </tr>


	  <% end %>
	  </tbody>
	  </table>


<% end %>
