<%= params.inspect %>

<% if @logs == nil %>
	 No Logs Found 
<% else %>
	<table border = 1>
	  <thead>
	    <tr>
	      <th>User</th>
	      <th>Activity</th>
	      <th>Status</th>
	      <th>Cow Tag Number</th>
	      <th>Date</th>
		 </tr>
	  </thead>
	  <tbody>
	  <% @logs.each do |log| %>
	  <tr>
	  	<td>
	  		<%= log.user %>
  		</td>	
	  	<td>
	  		<%= log.task %>
  		</td>	
	  	<td>
	  		<%= log.status %>
  		</td>	
	  	<td>
	  		<%= log.tagNum %>
  		</td>	
	  	<td>
	  		<%= Time.at(log.activityDate).strftime("%B %e, %Y") %>
  		</td>	
	  </tr>


	  <% end %>
	  </tbody>
	  </table>


<% end %>
