

<%= collection_select(:user, :name, User.all.order('name ASC'), :name, :name, {:prompt => 'Select a User'}, {:onchange=> "redirectToTrainer(this.value)"}) %>

<%= javascript_tag do %>
  function redirectToTrainer(email){
     window.location = "<%= url_for(:controller => 'activity_logs' ) %>/" + email;
  } 
<% end %>






