<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @activity_log.user %>
</p>

<p>
  <strong>Task:</strong>
  <%= @activity_log.task %>
</p>

<p>
  <strong>Activity date:</strong>
  <%= @activity_log.activityDate %>
</p>

<p>
  <strong>Cattle reg num:</strong>
  <%= @activity_log.tagNum %>
</p>

<p>
  <strong>Status:</strong>
  <%= @activity_log.status %>
</p>

<%= link_to 'Edit', edit_activity_log_path(@activity_log) %> |
<%= link_to 'Back', activity_logs_path %>
