<%= form_for(@cattle_stat) do |f| %>
  <% if @cattle_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cattle_stat.errors.count, "error") %> prohibited this cattle_stat from being saved:</h2>

      <ul>
      <% @cattle_stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  Registration Number:  <%= f.number_field :registrationNumber %>
  </div>
  <div class="field">
    Tag Number:  <font color="red">*</font> <%= f.number_field :tagNumber, required: true %>
  </div>
  <div class="field">
    Cow Name:    <font color="red">*</font> <%= f.text_field :cowName, required: true  %>
  </div>
  <div class="field">
    Maternal Registration Number:   <%= f.number_field :maternalRegistrationNumber %>
  </div>
  <div class="field">
   Paternal Registration Number: <%= f.number_field :paternalRegistrationNumber %>
  </div>
  <div class="field">
    Status(if any):  <%= f.text_field :status %>
  </div>
  <div class="field">
      Location 

      <% @locs = Location.all %>
      <% @names ||= [] %>
      <% @locs.each do |loc| %>
       <% @names.push(loc.shortName) %>
      <% end %>
      <% @names.sort! %>
     
      <%= f.select :location, @names %>
  </div>
  <div class="field">
    Is Pregnant?(0 for no, 1 for yes):  <%= f.number_field :isPregnant %>
  </div>
  <div class="field">
  Cow Is In Heat?(0 for no, 1 for yes):  <%= f.number_field :inHeat %>
  </div>
  <div class="field">
    Heat Window Start Date:   <%= f.number_field :heatWindowStartDate %>
  </div>
  
  <div class="field">
    Curren Weight:  <%= f.number_field :weight %>
  </div>
  <div class="field">
    DOB:  <font color="red">*</font> <%= f.number_field :dateOfBirth, required: true  %>
  </div>
  <div class="field">
    Sell Date:  <%= f.number_field :sellDate %>
  </div>
  <div class="field">
    Next Pregnancy Check:  <%= f.number_field :nextPregnancyCheck %>
  </div>
  <div class="field">
    Last Insemination Date:  <%= f.number_field :insemDate %>
  </div>
  <div class="field">
    Last Vaccination Date:   <%= f.number_field :vaccinationDate %>
  </div>
  <div class="field">
    Anticipated Birthing Date:  <%= f.number_field :anticipatedBirthDate %>
  </div>
  <div class="field">
    Sex:    <%= f.text_field :sex %>
  </div>
  <div class="field">
  Number of Children:   <%= f.number_field :numberOfChildren %>
  </div>
  <div class="field">
    Number of Available Straws:   <%= f.number_field :numOfStraws %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
