<p id="notice"><%= notice %></p>

<h1>Listing Cattle Stats</h1>

<table border = 1>
  <thead>
    <tr>
      <th>Reg Num</th>
      <th>Tag Num</th>
      <th>Name</th>
      <th>Mom</th>
      <th>Dad</th>
      <th>Status</th>
      <th>Location</th>
      <th>Is Pregnant</th>
      <th>In Heat</th>
      <th>heat window start date</th>
      <th>Insemination Date</th>
      <th>Weight</th>
      <th>DOB</th>
      <th>Sell date</th>
      <th>next preg check</th>
      <th>vaccination date </th>
      <th>anticipated DOB</th>
      <th>Sex</th>
      <th>Number of Straws</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cattle_stats.each do |cattle_stat| %>
      <tr>
        <td><%= cattle_stat.registrationNumber %></td>
        <td><%= cattle_stat.tagNumber %></td>
        <td><%= cattle_stat.cowName %></td>
        <td><%= cattle_stat.maternalRegistrationNumber %></td>
        <td><%= cattle_stat.paternalRegistrationNumber %></td>
        <td><%= cattle_stat.status %></td>
        <td><%= cattle_stat.location %></td>
        <td><%= cattle_stat.isPregnant %></td>
        <td><%= cattle_stat.inHeat %></td>
        <td><%= Time.at(cattle_stat.heatWindowStartDate).strftime("%B %e, %Y") %></td>
      <% if cattle_stat.insemDate != nil %>
        <td><%= Time.at(cattle_stat.insemDate).strftime("%B %e, %Y ") %></td>
      <% else %>
        <td>0</td>
      <% end %>
        <td><%= cattle_stat.weight %></td>
        <td><%= Time.at(cattle_stat.dateOfBirth).strftime("%B %e, %Y ") %></td>
        <td><%= Time.at(cattle_stat.sellDate).strftime("%B %e, %Y") %></td>
        <td><%= Time.at(cattle_stat.nextPregnancyCheck).strftime("%B %e, %Y") %></td>
        <td><%= Time.at(cattle_stat.vaccinationDate).strftime("%B %e, %Y") %></td>
        <td><%= Time.at(cattle_stat.anticipatedBirthDate).strftime("%B %e, %Y ") %></td>
        <td><%= cattle_stat.sex %></td>
        <td><%= cattle_stat.numOfStraws %></td>
        <td><%= link_to 'Show', cattle_stat %></td>
        <td><%= link_to 'Home', '/' %></td>
        <td><%= link_to 'Edit', edit_cattle_stat_path(cattle_stat) %></td>
        <td><%= link_to 'Destroy', cattle_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Cow', new_cattle_stat_path %>
