
<p id="notice"><%= notice %></p>

<p>
  <strong>Registration Number:</strong>
  <%= @cattle_stat.registrationNumber %>
</p>

<p>
  <strong>Tag Number:</strong>
  <%= @cattle_stat.tagNumber %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cattle_stat.cowName %>
</p>

<p>
  <strong>Maternalr Registration Number:</strong>
  <%= @cattle_stat.maternalRegistrationNumber %>
</p>

<p>
  <strong>Paternal Registation Number:</strong>
  <%= @cattle_stat.paternalRegistrationNumber %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cattle_stat.status %>
</p>

<p>
  <strong>Location:</strong>
  <%= @cattle_stat.location %>
</p>

<p>
  <strong>Is Pregnant:</strong>
  <%= @cattle_stat.isPregnant %>
</p>
<strong>Insemination Date:</strong>
  <%= Time.at(@cattle_stat.insemDate) %>
</p>

<p>
  <strong>Heat Window Start Date(remember to change this to the actual window size:</strong>
  <%= @cattle_stat.heatWindowStartDate %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @cattle_stat.weight %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= Time.at(@cattle_stat.dateOfBirth).strftime("%B %e, %Y at %I:%M %p") %>
</p>

<p>
  <strong>Sell Date:</strong>
  <%= Time.at(@cattle_stat.sellDate).strftime("%B %e, %Y at %I:%M %p") %>
</p>

<p>
  <strong>Next Pregnancy Check:</strong>
  <%= Time.at(@cattle_stat.nextPregnancyCheck).strftime("%B %e, %Y at %I:%M %p") %>
</p>

<p>
  <strong>Vaccinationdate:</strong>
  <%= Time.at(@cattle_stat.vaccinationDate).strftime("%B %e, %Y at %I:%M %p") %>
</p>

<p>
  <strong>Anticipated Birthdate:</strong>
  <%= Time.at(@cattle_stat.anticipatedBirthDate).strftime("%B %e, %Y at %I:%M %p") %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @cattle_stat.sex %>
</p>
<p>
  <strong>Number of Children:</strong>
  <%= @cattle_stat.numberOfChildren %>
</p>

<p>
  <strong>Number of Srtaws:</strong>
  <%= @cattle_stat.numOfStraws %>
</p>

<%= link_to 'Edit', edit_cattle_stat_path(@cattle_stat) %> |
<%= link_to 'Back', cattle_stats_path %> |
<%= link_to 'Home', '/' %>
