#red-circle {
      width: 5px;
      height: 5px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: red;
    }
#blue-circle {
      width: 5px;
      height: 5px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: blue;
    }
#black-circle {
      width: 5px;
      height: 5px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: black;
    }
#yellow-circle {
      width: 5px;
      height: 5px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: yellow;
    }
#gray-circle {
      width: 5px;
      height: 5px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: gray;
    }
#maroon-circle {
      width: 5px;
      height: 5px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: maroon;
    }
#turquoise-circle {
      width: 5px;
      height: 5px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: turquoise;
    }
#skyblue-circle {
      width: 5px;
      height: 5px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: skyblue;
    }
#goldenrod-circle {
      width: 5px;
      height: 5px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: goldenrod;
    }
#darkblue-circle {
      width: 5px;
      height: 5px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: darkblue;
    }