// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.one:link {color:red;}
a.one:visited {color:red;}
a.one:hover {color:red;}

a.two:link {color:blue;}
a.two:visited {color:blue;}
a.two:hover {color:blue;}

a.three:link {color:black;}
a.three:visited {color:black;}
a.three:hover {color:black;}

a.four:link {color:yellow;}
a.four:visited {color:yellow;}
a.four:hover {color:yellow;}

a.five:link {color:gray;}
a.five:visited {color:gray;}
a.five:hover {color:gray;}

a.six:link {color:maroon;}
a.six:visited {color:maroon;}
a.six:hover {color:maroon;}

a.seven:link {color:turquoise;}
a.seven:visited {color:turquoise;}
a.seven:hover {color:turquoise;}

a.eight:link {color:skyblue;}
a.eight:visited {color:skyblue;}
a.eight:hover {color:skyblue;}

a.nine:link {color:goldenrod;}
a.nine:visited {color:goldenrod;}
a.nine:hover {color:goldenrod;}

a.ten:link {color:darkblue;}
a.ten:visited {color:darkblue;}
a.ten:hover {color:darkblue;}

a.eleven:link {color:red;}
a.eleven:visited {color:red;}
a.eleven:hover {color:red;}