<p id="notice"><%= notice %></p>

<p>
  <strong>Longname:</strong>
  <%= @location.longName %>
</p>

<p>
  <strong>Shortname:</strong>
  <%= @location.shortName %>
</p>

<p>
  <strong>Farmname:</strong>
  <%= @location.farmName %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
