<%# add navigation links to this file %>
<%= link_to "Calendar", tasks_path, :class => 'navbar-link' %>
      | <%= link_to 'Add New Cow', new_cattle_stat_path, :class => 'navbar-link' %>
      | <%= link_to 'User Activity Log', activity_logs_path, :class => 'navbar-link' %>
      | <%= link_to 'Cow Historical Data', activity_logs_path, :class => 'navbar-link' %>
      | <%= link_to 'Add New Base Task', new_task_path, :class => 'navbar-link' %>