<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cattle" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cattle" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>

  </head>
  <body>
    <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
      <% if user_signed_in? %>

      | <%= link_to "Calendar", tasks_path, :class => 'navbar-link' %>
      | <%= link_to 'View All Cows', cattle_stats_path, :class => 'navbar-link' %>
      | <%= link_to 'Add New Cow', new_cattle_stat_path, :class => 'navbar-link' %>
      | <%= link_to 'User Activity Log and Cattle History Data', activity_logs_path, :class => 'navbar-link' %>
      | <%= link_to 'Add New Base Task', new_task_path, :class => 'navbar-link' %>
      <% end %>

    <header>
      <%= render 'layouts/navigation' %>
      </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>

    </main>
    <p class="navbar-text pull-right">
    
  </body>
</html>
